h1 {color:red;}
  h1 {background-color:#000000;}
h2{color:rgb(255,255,255);}
  h2{background-color:hsl(120,50%,35%);}
h3{background-color: yellow;}
p{color:hsl(187,100%,40%);}
ul{background-color:hsl(327,100%,85%);}
ol{color:lightgray;}
  ol{background-color:hsl(360,100%,100%)}
html{background-color:hsla(303, 85%, 34%, 1);}